<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Junks! 404</title>
    <link href="/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/foundation/foundation.min.css" rel="stylesheet">
    <link href="/foundation-icons/foundation-icons.css" rel="stylesheet">
    <link href="/markdown/markdown.css" rel="stylesheet">
  </head>

  <body>
    <h1>API's are only accessible via JSON.</h1>
  </body>
  <script language="javascript" src="/foundation/jquery.min.js"></script>
  <script language="javascript" src="/foundation/foundation.min.js"></script>
  <script language="javascript" src="/markdown/markdown.js"></script>
</html>
